
# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# outputs (which I don't need to track, because I can reproduce them with the scripts)
testdata/
*.png
*.txt
!LICENSE*.txt

# only track the un-cropped eeg data 
Data/*
!Data/LK_1_post1_cropped_raw.fif

# experimental files
Playground/
